*{
    padding: 0em;
    margin: 0em;
}

html{
    background: #FFF;
}

#app{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    width: auto;
    display: block;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
}

#chat{
    display: inline-block;
    background: rgba(38,38,38, 1);
    position: fixed;
    height: 100vh;
    left: 0em;
}

.profile-link{
    display: block;
}

.uid{
    display: block;
    background: skyblue;
    padding: 1em;
    cursor: pointer;
    float: right;
}

#uids{
    display: inline-grid;
}

/*#msgBox{
    background: rgba(38,38,38, 1);
    padding: 1em;
    color: #FFF;
}

#chat{
    position: fixed;
    bottom: 1em;
    left: 1em;
}*/

#inputBox{
    color: #FFF;
    position: relative;
}

#inputBox textarea{
    padding: 1em;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
}

#msgBox{
    color: #FFF;
}

#msgBox .from{
    font-size: 0.7em;
}

#msgBox .msg img{
    width: 20em;
}

.in-app-tag.image{
    display: block;
    width: 10em;
}

.in-app-tag.youtube-embed{
    display: block;
    width: 30em;
    height: 20em;
}