*{
    padding: 0em;
    margin: 0em;
}

html{
    background: #FFF;
}

#app{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    width: auto;
    display: block;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
}

.uid{
    display: block;
    background: skyblue;
    padding: 1em;
    cursor: pointer;
}

#msgBox{
    background: rgba(38,38,38, 1);
    padding: 1em;
    color: #FFF;
}

#chat{
    position: fixed;
    bottom: 1em;
    left: 1em;
}

#inputBox input{
    width: 100vw;
    padding: 1em;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

#msgBox .from{
    font-size: 0.7em;
}

.in-app-tag.image{
    display: block;
    width: 10em;
}