<!doctype html>
<html>
  <head>
    <title>ᕕ( ᐛ )ᕗ Real time players ᕕ( ᐛ )ᕗ</title>
    <style>
    </style>
  </head>
  <body>
  
  <div id="app">
    <h1>ᕕ( ᐛ )ᕗ Who is here ᕕ( ᐛ )ᕗ</h1>
    <a href="/profile" class="profile-link">Profile</a>
    <div id="uids"></div>
      <div id="chat">
      <div id="msgBox">
        <div class="msg">No Message...</div>
        <div class="from"></div>
      </div>
      <div id="inputBox">
        <textarea type="text" name="msg" placeholder="Message..."></textarea>
        <div id="fileUploadContainer">
          <input type="file" name="file" id="fileUpload">
          <progress id="fileProgress" value="0" max="100"></progress>
          <div id="fileMsg"></div>
        </div>
      </div>
    </div>
  </div>


  <div id="soundEffect"></div>
  <script>
  // Users settings
  var userSettings = {
    notification: '<%=notification%>',
    soundeffect: '<%=soundeffect%>',
  }
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.13/push.js"></script>
  <link rel="stylesheet" href="/static/css/index.css">
  <script src="/static/js/soundeffect.js"></script>
  <script src="/static/js/clientChat.js"></script>
  <script src="/static/js/fileUpload.js"></script>

  </body>
</html>