<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/profile.css">
    <title>ᕕ( ᐛ )ᕗ Real time players ᕕ( ᐛ )ᕗ | Profile</title>
</head>
<body>
    <div id="app">
        <h1>ᕕ( ᐛ )ᕗ Profile ᕕ( ᐛ )ᕗ</h1>
        <%if(isNew !== null){%>
            <div id="isNew">
                <%=isNew%>
            </div>
        <%}%>
        <form method="post">
            <div>
                <p>Username</p>
                <input type="text" name="username" value="<%=username%>">
            </div>
            <div>
                <p>Notification</p>
                <%if(notification == 'true'){%>
                    <input type="checkbox" name="notification" checked="true">
                <%}else{%>
                    <input type="checkbox" name="notification">
                <%}%>
            </div>
            <div>
                <p>Sound Effect</p>
                <%if(soundeffect == 'true'){%>
                    <input type="checkbox" name="soundeffect" checked="true">
                <%}else{%>
                    <input type="checkbox" name="soundeffect">
                <%}%>
            </div>
            <input type="submit" value="Update">
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.13/push.js"></script>
    <script>
        // Init the push notification permission
        document.querySelector('input[name=notification]').addEventListener('change', function(e){
            if(document.querySelector('input[name=notification]').checked){
                Push.create('Yay!', {
                    body: 'Now you will get notify when ever you got a new message',
                    timeout: 4000,
                    onClick() {
                        window.focus();
                        this.close();
                    },
                });
            }
        });
    </script>
</body>
</html>